<div class="std">
  <div class="header_slider">
    <div class="fluid_container">
      <div class="camera_wrap camera_orange_skin" id="camera_wrap">
        <div data-src="assets/images/slider_pic1.jpg" data-link="#"></div>
        <div data-src="assets/images/slider_pic2.jpg" data-link="#"></div>
        <div data-src="assets/images/slider_pic3.jpg" data-link="#"></div>
      </div>
    <div class="clear"></div>
    </div>
  </div>
  <div class="banners_row b_row1">
    <div class="banner_wide ban1">
    </div>
    <div class="banner ban2">
    </div>
    <div class="banner ban3">
    </div>
  </div>
  <div class="banners_row b_row2">
    <div class="banner ban4">
    </div>
    <div class="banner ban5">
    </div>
    <div class="banner_wide ban6">
    </div>
  </div>
  <div class="page-title category-title"></div>
    <ul class="products-grid row">
      <li class="item col-xs-4 first">
        <div class="grid_wrap">
          <div class="product-shop">
            <div class="price-box">
            </div>
            <div class="actions">
            </div>
          </div>
          <div class="label-product">
          </div>
        </div>
      </li>
      <li class="item col-xs-4">
        <div class="grid_wrap">
          <div class="product-shop">
            <div class="price-box">
            </div>
            <div class="actions">
            </div>
          </div>
          <div class="label-product">
          </div>
        </div>
      </li>
      <li class="item col-xs-4 last">
        <div class="grid_wrap">
          <div class="product-shop">
            <div class="price-box">
            </div>
            <div class="actions">
            </div>
          </div>
          <div class="label-product">
          </div>
        </div>
      </li>
    </ul>
    <ul class="products-grid row">
      <li class="item col-xs-4 first">
        <div class="grid_wrap">
          <div class="product-shop">
            <div class="price-box">
            </div>
            <div class="actions">
            </div>
          </div>
          <div class="label-product">
          </div>
        </div>
      </li>
      <li class="item col-xs-4">
        <div class="grid_wrap">
          <div class="product-shop">
            <div class="price-box">
            </div>
            <div class="actions">
            </div>
          </div>
          <div class="label-product">
          </div>
        </div>
      </li>
      <li class="item col-xs-4 last">
        <div class="grid_wrap">
          <div class="product-shop">
            <div class="price-box">
            </div>
            <div class="actions">
            </div>
          </div>
          <div class="label-product">
          </div>
        </div>
      </li>
    </ul>
</div>
